body {
  background-color: #fff8d6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  text-align: center;
}

.jumbotron {
  margin: 2% 0;
  padding: 3% 0;
  background-color: #ffb84c98;
}

/* Parent containers */
.container-jon-as-person {
  border: 4px black solid;
  overflow: auto;
  background-color: #f5f0bb;
  margin: 0 0 3% 0;
}

.container-jon-job-related {
  border: 4px purple dotted;
  margin: 1.5% 0 0 1%;
  background-color: #675d5045;
}

/* Child containers - Personal Information */
.personal-about-me {
  float: right;
  width: 75%;
  padding: 0 2%;
  margin: 2% 0;
}

.personal-hobbies-interests {
  width: 98%;
  margin: 1.5% 0 0 1%;
  box-sizing: border-box;
}

.personal-background {
  border: 4px black dotted;
  box-sizing: border-box;
  float: left;
  width: 98%;
  padding: 2% 0 0 0;
  margin: 1.5% 0 1% 1%;
  background-color: #acbcff72;
}

/* Child containers - Job Relevant */
.job-related-projects {
  padding: 1.5% 2%;
  border: 2px purple dashed;
}

/* Specific Containers - Personal Information*/
#portrait-of-jon {
  width: 20%;
  margin: 1%;
}

.personal-about-me h3 {
  margin: 0 0 2% 0;
}

.personal-about-me li {
  margin: 0 0 0.751% 0;
}

.personal-hobbies-interests h2 {
  text-align: center;
  padding: 0.5%;
}

.hobbies-interests-column-1 {
  border: 1px black dotted;
  float: left;
  width: 30%;
  padding: 1%;
  margin: 0 1.5%;
  box-sizing: border-box;
  background-color: #cbb27995;
}

.hobbies-interests-column-2 {
  border: 1px black dotted;
  float: left;
  width: 30%;
  padding: 1%;
  margin: 0 1.5% 1% 1.5%;
  box-sizing: border-box;
  background-color: #cbb27995;
}

.hobbies-interests-column-3 {
  border: 1px black dotted;
  float: left;
  width: 30%;
  padding: 1%;
  margin: 0 1.5%;
  box-sizing: border-box;
  background-color: #cbb27995;
}

.topic {
  text-decoration: underline;
}

.background-education {
  border: 1px black dotted;
  width: 47%;
  float: left;
  margin: 2% 1%;
  padding: 1% 2%;
  box-sizing: border-box;
  background-color: #1b9c8555;
}

.background-why-programming {
  border: 1px black dotted;
  width: 47%;
  float: left;
  margin: 2% 1% 0 1%;
  padding: 1% 2%;
  box-sizing: border-box;
  background-color: #1b9c8555;
}

.background-job-experience {
  border: 1px black dotted;
  width: 47%;
  float: left;
  margin: 2% 1%;
  padding: 1% 2%;
  box-sizing: border-box;
  background-color: #1b9c8555;
}

/* Specific Containers - Job Relevant */
.personal-about-me {
  font-size: larger;
}
