body {
  background-color: #fff8d6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  border: 4px darkblue solid;
  text-align: center;
}

/* Parent containers */
.container-jon-as-person {
  border: 4px black solid;
  overflow: auto;
}

.container-jon-job-related {
  border: 4px purple dotted;
}

/* Child containers - Personal Information */
.personal-about-me {
  border: 2px black dotted;
  float: right;
  width: 75%;
}

.personal-hobbies-interests {
  border: 1px black dotted;
  width: 98%;
  box-sizing: border-box;
}

.personal-background {
  border: 2px black dotted;
  box-sizing: border-box;
  float: left;
  width: 98%;
}

/* Child containers - Job Relevant */
.job-related-projects {
  border: 2px purple dashed;
}

/* Specific Containers - Personal Information*/
#portrait-of-jon {
  width: 20%;
  margin: 1%;
}

.hobbies-interests-column-1 {
  border: 1px black dotted;
  float: left;
  width: 30%;
  padding: 1%;
  margin: 0 1.5%;
  box-sizing: border-box;
}

.hobbies-interests-column-2 {
  border: 1px black dotted;
  float: left;
  width: 30%;
  padding: 1%;
  margin: 0 1.5%;
  box-sizing: border-box;
}

.hobbies-interests-column-3 {
  border: 1px black dotted;
  float: left;
  width: 30%;
  padding: 1%;
  margin: 0 1.5%;
  box-sizing: border-box;
}

.topic {
  text-decoration: underline;
}

.background-education {
  border: 1px black dotted;
  width: 47%;
  float: left;
  margin: 0 1%;
  box-sizing: border-box;
}

.background-job-experience {
  border: 1px black dotted;
  width: 47%;
  float: left;
  margin: 0 1%;
  box-sizing: border-box;
}

.background-why-programming {
  border: 1px black dotted;
  width: 47%;
  float: left;
  margin: 0 1%;
  box-sizing: border-box;
}

/* Specific Containers - Job Relevant */
.personal-about-me {
  font-size: larger;
}
